apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tdarr-master
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate

        containers:
          main:
            env:
              TZ: Australia/Adelaide
              serverIP: 0.0.0.0
              serverPort: 8266
              webUIPort: 8265
              internalNode: true
              inContainer: true
              ffmpegVersion: 6
              transcodegpuWorkers: 1
              transcodecpuWorkers: 0
              nodeName: "coma-master-1"
            image:
              repository: ghcr.io/haveagitgat/tdarr
              tag: latest
              pullPolicy: IfNotPresent
            ports:
              - name: webui
                containerPort: 8265
              - name: server
                containerPort: 8266
            resources:
              limits:
                gpu.intel.com/i915: 1000m
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: feature.node.kubernetes.io/cpu-model.id
                        operator: In
                        values:
                          - "158" # Schedule on nodes with later-gen QSV hardware

    service:
      main:
        controller: main
        ports:
          webui:
            port: 8265
          server:
            port: 8266

    persistence:
      data:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /app/server
          - path: /app/configs
          - path: /app/logs
      media:
        existingClaim: tdarr-media-pvc
        globalMounts:
          - path: /media
