apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: autobrr
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            image:
              repository: ghcr.io/autobrr/autobrr
              tag: latest
              pullPolicy: IfNotPresent
            env:
              TZ: Australia/Adelaide
              AUTOBRR__HOST: autobrr.coma.artichoke.network
              AUTOBRR__SESSION_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: autobrr-session-secret
                    key: session-secret
              AUTOBRR__DATABASE_TYPE: postgres
              AUTOBRR__POSTGRES_HOST: main-postgres-v2-rw.databases.svc.cluster.local
              AUTOBRR__POSTGRES_PORT: 5432
              AUTOBRR__POSTGRES_DATABASE: autobrr
              AUTOBRR__POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: autobrr-postgres-auth
                    key: username
              AUTOBRR__POSTGRES_PASS:
                valueFrom:
                  secretKeyRef:
                    name: autobrr-postgres-auth
                    key: password
              AUTOBRR__OIDC_ENABLED: true
              AUTOBRR__OIDC_ISSUER: https://autobrr.coma.artichoke.network/application/o/autobrr
              AUTOBRR__OIDC_CLIENT_ID:
                valueFrom:
                  secretKeyRef:
                    name: autobrr-oidc-auth
                    key: client-id
              AUTOBRR__OIDC_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: autobrr-oidc-auth
                    key: client-secret  
              AUTOBRR__OIDC_REDIRECT_URL: https://autobrr.artichoke.cc/api/auth/oidc/callback
              AUTOBRR__OIDC_DISABLE_BUILT_IN_LOGIN: true
    service:
      main:
        controller: main
        ports:
          http:
            port: 7474
    persistence:
      config:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /config