apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: coder-postgres-auth
  namespace: coder
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: coder-postgres-auth
  data:
    - secretKey: username
      remoteRef:
        key: coder/postgres-auth
        property: username
    - secretKey: password
      remoteRef:
        key: coder/postgres-auth
        property: password
    - secretKey: url
      remoteRef:
        key: coder/postgres-auth
        property: url
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: coder-oidc-auth
  namespace: coder
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: coder-oidc-auth
  data:
    - secretKey: issuer-url
      remoteRef:
        key: coder/oidc-auth
        property: issuer-url
    - secretKey: email-domain
      remoteRef:
        key: coder/oidc-auth
        property: email-domain
    - secretKey: client-id
      remoteRef:
        key: coder/oidc-auth
        property: client-id
    - secretKey: client-secret
      remoteRef:
        key: coder/oidc-auth
        property: client-secret
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: coder-github-auth
  namespace: coder
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: coder-github-auth
  data:
    - secretKey: client-id
      remoteRef:
        key: coder/github-auth
        property: client-id
    - secretKey: client-secret
      remoteRef:
        key: coder/github-auth
        property: client-secret