apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: web-gateway
  namespace: networking
  annotations:
    # cert-manager.io/cluster-issuer: letsencrypt-production
spec:
  infrastructure:
    parametersRef:
      group: gateway.envoyproxy.io
      kind: EnvoyProxy
      name: envoy-proxy-config
  gatewayClassName: envoy
  addresses:
    - type: IPAddress
      value: 192.168.188.209
  listeners:
    - name: http
      port: 80
      protocol: HTTP

    - name: artichoke-cc-https
      port: 443
      protocol: HTTPS
      hostname: "*.artichoke.cc"
      tls:
        certificateRefs:
          - name: artichokecc-wildcard-cert
            kind: Secret
      allowedRoutes:
        namespaces:
          from: All

    - name: artichoke-cc-root
      port: 443
      protocol: HTTPS
      hostname: "artichoke.cc"
      tls:
        certificateRefs:
          - name: artichokecc-wildcard-cert
            kind: Secret
      allowedRoutes:
        namespaces:
          from: All

    - name: coma-artichoke-network-https
      port: 443
      protocol: HTTPS
      hostname: "*.coma.artichoke.network"
      tls:
        certificateRefs:
          - name: coma-artichoke-local-wildcard-cert
            kind: Secret
      allowedRoutes:
        namespaces:
          from: All

    - name: artichoke-cc-authentik
      port: 443
      protocol: HTTPS
      hostname: "*.auth.artichoke.cc"
      tls:
        certificateRefs:
          - name: artichokecc-wildcard-cert
            kind: Secret
      allowedRoutes:
        namespaces:
          from: All

    - name: artichoke-cc-coder
      port: 443
      protocol: HTTPS
      hostname: "*.coder.artichoke.cc"
      tls:
        certificateRefs:
          - name: artichokecc-wildcard-cert
            kind: Secret
      allowedRoutes:
        namespaces:
          from: All

    - name: artichoke-cc-teleport-wildcard
      port: 443
      protocol: TLS
      hostname: "*.teleport.artichoke.cc"
      tls:
        mode: Passthrough
      allowedRoutes:
        namespaces:
          from: All

    - name: artichoke-cc-teleport-root
      port: 443
      protocol: TLS
      hostname: "teleport.artichoke.cc"
      tls:
        mode: Passthrough
      allowedRoutes:
        namespaces:
          from: All
    - name: onkaparingait-https
      port: 443
      protocol: HTTPS
      hostname: "*.onkaparingait.com"
      tls:
        certificateRefs:
          - name: onkaparingait-wildcard-cert
            kind: Secret
      allowedRoutes:
        namespaces:
          from: All
    - name: onkaparingait-root
      port: 443
      protocol: HTTPS
      hostname: "onkaparingait.com"
      tls:
        certificateRefs:
          - name: onkaparingait-wildcard-cert
            kind: Secret
      allowedRoutes:
        namespaces:
          from: All
    - name: onkaparingait-http
      port: 80
      hostname: "*.onkaparingait.com"
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: All
    - name: onkaparingait-root-http
      port: 80
      hostname: "onkaparingait.com"
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: All
    - name: tdarr-tcp
      protocol: TCP
      port: 8266
      allowedRoutes:
        namespaces:
          from: All
    - name: tdarr-web-tcp
      protocol: TCP
      port: 8265
      allowedRoutes:
        namespaces:
          from: All
    - name: graphite-exporter-tcp
      protocol: TCP
      port: 9109
      allowedRoutes:
        namespaces:
          from: All
