apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: weekly-authentik-s3-backup
  namespace: databases
spec:
  schedule: "0 0 0 * * *"
  backupOwnerReference: self
  cluster:
    name: authentik-postgres
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
