apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: authentik-postgres
  namespace: databases
spec:
  postgresql:
  instances: 1
  superuserSecret:
    name: authentik-postgres-superuser-auth
  bootstrap:
    initdb:
      database: authentik
      owner: authentik
      secret:
        name: authentik-postgres-auth
  backup:
    barmanObjectStore:
      destinationPath: "s3://holeinmybudget/pg_backups/"
      endpointURL: https://${CLOUDFLARE_ACCOUNT_ID}.r2.cloudflarestorage.com
      s3Credentials:
        accessKeyId:
          name: pg-backups-aws-creds
          key: access-key
        secretAccessKey:
          name: pg-backups-aws-creds
          key: access-key-secret
  storage:
    size: 1Gi
    storageClass: openebs-hostpath
  # externalClusters:
  #   - name: origin
  #     plugin:
  #       name: barman-cloud.cloudnative-pg.io
  #       parameters:
  #         barmanObjectName: r2-backup
  #         serverName: authentik-postgres

  # bootstrap:
  #   recovery:
  #     source: origin
  #     recoveryTarget:
  #       targetTime: "2025-06-09 00:00:54+00"
