apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: authentik-postgres
  namespace: databases
spec:
  postgresql:
  instances: 1
  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ImageCatalog
    name: postgresql
    major: 16
  imageName: ghcr.io/cloudnative-pg/postgresql:16.8
  superuserSecret:
    name: authentik-postgres-superuser-auth
  # bootstrap:
  #   initdb:
  #     database: authentik
  #     owner: authentik
  #     secret:
  #       name: authentik-postgres-auth
  backup:
    barmanObjectStore:
      destinationPath: "s3://holeinmybudget/pg_backups/"
      endpointURL: https://${CLOUDFLARE_ACCOUNT_ID}.r2.cloudflarestorage.com
      s3Credentials:
        accessKeyId:
          name: pg-backups-aws-creds
          key: access-key
        secretAccessKey:
          name: pg-backups-aws-creds
          key: access-key-secret
  storage:
    size: 1Gi
    storageClass: openebs-hostpath
  externalClusters:
    - name: origin
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: r2-backup
          serverName: main-postgres

  bootstrap:
    recovery:
      source: origin
