apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jellyseerr-postgres-auth
  namespace: ${NAMESPACE}
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: jellyseerr-postgres-auth
  data:
    - secretKey: username
      remoteRef:
        key: jellyseerr/postgres-auth
        property: username
    - secretKey: password
      remoteRef:
        key: jellyseerr/postgres-auth
        property: password
