apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mcpjungle
  namespace: ai
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        replicas: 1
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/mcpjungle/mcpjungle
              tag: 0.3.4
            env:
              TZ: Australia/Adelaide
              POSTGRES_HOST: main-postgres-v2-rw.databases.svc.cluster.local
              POSTGRES_PORT: 5432
              POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: mcpjungle-postgres-auth
                    key: username
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: mcpjungle-postgres-auth
                    key: password
              POSTGRES_DB: mcpjungle
    service:
      main:
        controller: main
        ports:
          http:
            port: 8080