apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: commafeed
  namespace: commafeed
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate

        containers:
          main:
            image:
              repository: athou/commafeed
              tag: 5.3.4-postgresql
              pullPolicy: IfNotPresent

            env:
              # General configuration
              CF_APP_PUBLICURL: "https://commafeed.artichoke.cc"
              COMMAFEED_HIDE_FROM_WEB_CRAWLERS: "true"
              COMMAFEED_USERS_ALLOW_REGISTRATIONS: "true"

              # SMTP configuration
              COMMAFEED_PASSWORD_RECOVERY_ENABLED: "true"
              QUARKUS_MAILER_HOST: ${NOREPLY_EMAIL_HOST}
              QUARKUS_MAILER_PORT: "465"
              QUARKUS_MAILER_TLS: "true"
              QUARKUS_MAILER_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: commafeed-smtp-auth
                    key: username
              QUARKUS_MAILER_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: commafeed-smtp-auth
                    key: password
              QUARKUS_MAILER_FROM: ${NOREPLY_EMAIL}

              # Database configuration
              CF_DATABASE_DRIVERCLASS: org.postgresql.Driver
              QUARKUS_DATASOURCE_JDBC_URL: "jdbc:postgresql://main-postgres-v2-rw.databases.svc.cluster.local:5432/commafeed"
              QUARKUS_DATASOURCE_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: commafeed-postgres-auth
                    key: username
              QUARKUS_DATASOURCE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: commafeed-postgres-auth
                    key: password

    service:
      main:
        controller: main
        ports:
          http:
            port: 8082

    persistence:
      data:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /var/www/FreshRSS/data
          - path: /var/www/FreshRSS/extensions
