apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: commafeed-postgres-auth
  namespace: commafeed
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: commafeed-postgres-auth
  data:
    - secretKey: username
      remoteRef:
        key: commafeed/postgres-auth
        property: username
    - secretKey: password
      remoteRef:
        key: commafeed/postgres-auth
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: commafeed-smtp-auth
  namespace: commafeed
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: commafeed-smtp-auth
  data:
    - secretKey: username
      remoteRef:
        key: commafeed/smtp-auth
        property: username
    - secretKey: password
      remoteRef:
        key: commafeed/smtp-auth
        property: password
