apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uptime-kuma
  namespace: uptime-kuma
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate

        containers:
          main:
            image:
              repository: louislam/uptime-kuma
              tag: 1.23.17-alpine
              pullPolicy: IfNotPresent

    service:
      main:
        controller: main
        ports:
          http:
            port: 3001

    persistence:
      data:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /app/data
