apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: profilarr
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            image:
              repository: ghcr.io/dictionarry-hub/profilarr
              tag: latest
              pullPolicy: IfNotPresent
            env:
              PUID: 1000
              PGID: 1000
              TZ: Australia/Adelaide
    service:
      main:
        controller: main
        ports:
          http:
            port: 6868
    persistence:
      config:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /config