apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
  namespace: ${NAMESPACE}
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        replicas: 1
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: main
            env:
              TZ: Australia/Adelaide
              WEBUI_URL: https://ai.artichoke.cc
              ENABLE_SIGNUP: true
              ENABLE_LOGIN_FORM: true
              ENABLE_PASSWORD_AUTH: true
              DEFAULT_USER_ROLE: pending
              WEBUI_NAME: ArtichokeAI
              VECTOR_DB: pgvector
              PGVECTOR_DB_URL:
                valueFrom:
                  secretKeyRef:
                    name: openwebui-postgres-auth
                    key: url
              ENABLE_OAUTH_SIGNUP: true
              OAUTH_CLIENT_ID:
                valueFrom:
                  secretKeyRef:
                    name: openwebui-oidc-auth
                    key: client-id
              OAUTH_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: openwebui-oidc-auth
                    key: client-secret
              OPENID_PROVIDER_URL: "https://auth.artichoke.cc/application/o/openwebui/.well-known/openid-configuration"
              OAUTH_PROVIDER_NAME: "Artichoke Technologies"
              OPENID_REDIRECT_URI: "https://ai.artichoke.cc/oauth/oidc/callback"
              OAUTH_ROLES_CLAIM: "groups"
              OAUTH_ALLOWED_ROLES: "friends of the federation"
              OAUTH_ADMIN_ROLES: "OpenWebUI Admins"
              OAUTH_GROUP_CLAIM: "groups"
              ENABLE_OAUTH_GROUP_CREATION: "true"
    service:
      main:
        controller: main
        ports:
          http:
            port: 8080
    persistence:
      data:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 4Gi
        globalMounts:
          - path: /app/backend/data
