apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  chart:
    spec:
      chart: loki-stack
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      version: 2.10.3
  interval: 1m0s
  values:
    fluent-bit:
      enabled: true
    promtail:
      enabled: false
    loki:
      auth_enabled: false
