apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: main-postgres-ca
  namespace: teleport-cluster
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: main-postgres-ca
  data:
    - secretKey: ca.crt
      remoteRef:
        key: databases/main/pg-cert-ca
        property: ca.crt
    - secretKey: ca.key
      remoteRef:
        key: databases/main/pg-cert-ca
        property: ca.key
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: main-postgres-cert
  namespace: teleport-cluster
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: main-postgres-cert
  data:
    - secretKey: tls.crt
      remoteRef:
        key: databases/main/pg-cert-cert
        property: tls.crt
    - secretKey: tls.key
      remoteRef:
        key: databases/main/pg-cert-cert
        property: tls.key
