apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate

        containers:
          main:
            image:
              repository: vaultwarden/server
              tag: 1.32.7
              pullPolicy: IfNotPresent
            env:
              ADMIN_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: vaultwarden-admin-token
                    key: token
              DATA_FOLDER: "config"
              EXPERIMENTAL_CLIENT_FEATURE_FLAGS: "fido2-vault-credentials,ssh-key-vault-item,ssh-agent"

    service:
      main:
        controller: main
        ports:
          http:
            port: 80

    persistence:
      config:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /config
