apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml

  - ./immich/secrets.yaml
  # - ./immich/database.yaml

  - ./authentik/secrets.yaml
  # - ./authentik/database.yaml
  - ./authentik/backup.yaml

  - ./main/secrets.yaml
  # - ./main/database.yaml
  - ./main/backup.yaml

  - ./objectstore.yaml
