apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: soulbeet
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            image:
              repository: docccccc/soulbeet
              tag: latest
              pullPolicy: IfNotPresent
            env:
              TZ: Australia/Adelaide
              DATABASE_URL: sqlite:/data/soulbeet.db
              DOWNLOAD_PATH: /media/soulseek
              BEETS_CONFIG: /config/beets.yaml
              SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: soulbeet-secret-key
                    key: secret-key
    service:
      main:
        controller: main
        ports:
          http:
            port: 9765
    persistence:
      data:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /data
      beets-config:
        enabled: true
        type: configMap
        name: soulbeet-beets-config
        advancedMounts:
          main:
            main:
              - path: /config/config.yaml
                subPath: config.yaml
                readOnly: true
