apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: slskd-webui-user
  namespace: slskd
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: slskd-webui-user
  data:
    - secretKey: username
      remoteRef:
        key: slskd/webui-user
        property: username
    - secretKey: password
      remoteRef:
        key: slskd/webui-user
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: slskd-slsk-user
  namespace: slskd
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: slskd-slsk-user
  data:
    - secretKey: username
      remoteRef:
        key: slskd/slsk-user
        property: username
    - secretKey: password
      remoteRef:
        key: slskd/slsk-user
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: slskd-jwt-secret
  namespace: slskd
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: slskd-jwt-secret
  data:
    - secretKey: secret-key
      remoteRef:
        key: slskd/jwt-secret
        property: secret-key
