apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: slskd
  namespace: slskd
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate

        containers:
          main:
            image:
              repository: slskd/slskd
              tag: 0.21.3
              pullPolicy: IfNotPresent
            env:
              SLSKD_DOWNLOADS_DIR: /app/downloads/soulseek
              SLSKD_INCOMPLETE_DIR: /app/downloads/soulseek/incomplete
              SLSKD_SHARED_DIR: /media/music
              SLSKD_REMOTE_FILE_MANAGEMENT: true
              SLSKD_SHARE_CACHE_STORAGE_MODE: disk
              SLSKD_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: slskd-webui-user
                    key: username
              SLSKD_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: slskd-webui-user
                    key: password
              SLSKD_JWT_KEY:
                valueFrom:
                  secretKeyRef:
                    name: slskd-jwt-secret
                    key: secret-key
              SLSKD_JWT_TTL: "604800000"
              SLSKD_METRICS: true
              SLSKD_METRICS_USERNAME: metrics
              SLSKD_METRICS_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: slskd-webui-user
                    key: password
              SLSKD_FILE_PERMISSION_MODE: 664
              SLSKD_SLSK_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: slskd-slsk-user
                    key: username
              SLSKD_SLSK_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: slskd-slsk-user
                    key: password

    service:
      main:
        controller: main
        ports:
          http:
            port: 5030
      soulseek:
        controller: main
        type: LoadBalancer
        ports:
          tcp:
            port: 50300

    serviceMonitor:
      main:
        enabled: true
        serviceName: slskd-main
        labels:
          release: prometheus-stack
        endpoints:
          - port: http
            interval: 4m
            scrapeTimeout: 90s
            path: /metrics

    persistence:
      data:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /app
      downloads:
        existingClaim: slskd-downloads-pvc
        globalMounts:
          - path: /app/downloads
      music:
        existingClaim: slskd-music-pvc
        globalMounts:
          - path: /media/music
