apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-api-key
  namespace: ${NAMESPACE}
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: radarr-api-key
  data:
    - secretKey: api-key
      remoteRef:
        key: radarr/api-key
        property: api-key
