apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  chart:
    spec:
      chart: nextcloud
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
      version: 6.6.10
  interval: 1m0s
  values:
    image:
      flavour: alpine
      tag: 31.0.4-fpm-alpine
    nextcloud:
      host: nc.artichoke.cc
      username: admin
      existingSecret:
        enabled: true
        secretName: nextcloud-credentials
        usernameKey: initial-user-username
        passwordKey: initial-user-password
        tokenKey: metrics-token
        smtpUsernameKey: smtp-username
        smtpPasswordKey: smtp-password
        smtpHostKey: smtp-host
      mail:
        enabled: true
        fromAddress: noreply
        domain: artichoke.cc
        smtp:
          host: smtp.artichoke.cc
          port: 465
          secure: ssl
          authtype: LOGIN
      configs:
        z-redis.config.php: |-
          <?php
          $CONFIG = array (
            'memcache.local' => '\OC\Memcache\Redis',
            'memcache.locking' => '\OC\Memcache\Redis',
            'memcache.distributed' => '\OC\Memcache\Redis',
            'redis' => [
              'host' => 'main.redis-clusters.svc.cluster.local',
              'port' => 6379,
            ]
          );
        z-general.config.php: |-
          <?php
          $CONFIG = array (
            'trusted_proxies' => ['10.42.0.0/16', '127.0.0.0/24', '192.168.0.0/16', '10.43.0.0/16'],
            'overwriteprotocol' => 'https',
            'maintenance_window_start' => 1,
            'default_phone_region' => 'AU',
            'overwrite.cli.url' => 'https://nc.artichoke.cc',
          );
      extraVolumes:
        - name: nsfiles
          nfs:
            server: truenas2.artichoke.network
            path: "/mnt/MoonShapedPool/NsFiles"
            readOnly: false
      extraVolumeMounts:
        - name: nsfiles
          mountPath: /mnt/nsfiles
    cronjob:
      enabled: true
    persistence:
      enabled: true
      size: 2Gi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        labels:
          release: prometheus-stack
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      host: main-postgres-rw.databases.svc.cluster.local
      database: nextcloud
      existingSecret:
        enabled: true
        secretName: nextcloud-postgres-auth
        usernameKey: username
        passwordKey: password
