apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-postgres-auth
  namespace: nextcloud
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: nextcloud-postgres-auth
  data:
    - secretKey: username
      remoteRef:
        key: nextcloud/postgres-auth
        property: username
    - secretKey: password
      remoteRef:
        key: nextcloud/postgres-auth
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-credentials
  namespace: nextcloud
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: nextcloud-credentials
  data:
    - secretKey: initial-user-username
      remoteRef:
        key: nextcloud/credentials
        property: initial-user-username
    - secretKey: initial-user-password
      remoteRef:
        key: nextcloud/credentials
        property: initial-user-password
    - secretKey: metrics-token
      remoteRef:
        key: nextcloud/credentials
        property: metrics-token
    - secretKey: smtp-host
      remoteRef:
        key: nextcloud/credentials
        property: smtp-host
    - secretKey: smtp-username
      remoteRef:
        key: nextcloud/credentials
        property: smtp-username
    - secretKey: smtp-password
      remoteRef:
        key: nextcloud/credentials
        property: smtp-password
