apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qui-media-pvc
  namespace: media
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeName: qui-media-pv
