apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
  namespace: ${NAMESPACE}
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            env:
              TZ: Australia/Adelaide
              SONARR__AUTH__APIKEY:
                valueFrom:
                  secretKeyRef:
                    name: sonarr-api-key
                    key: api-key
                    # SONARR__POSTGRES__HOST: main-postgres-rw.databases.svc.cluster.local
                    # SONARR__POSTGRES__PORT: "5432"
                    # SONARR__POSTGRES__MAINDB: sonarr_main
                    # SONARR__POSTGRES__LOGDB: sonarr_logs
                    # SONARR__POSTGRES__USER:
                    #   valueFrom:
                    #     secretKeyRef:
                    #       name: sonarr-postgres-auth
                    #       key: username
                    # SONARR__POSTGRES__PASSWORD:
                    #   valueFrom:
                    #     secretKeyRef:
                    #       name: sonarr-postgres-auth
                    #       key: password
            image:
              repository: lscr.io/linuxserver/sonarr # {"$imagepolicy": "flux-system:sonarr:name"}
              tag: 4.0.16 # {"$imagepolicy": "flux-system:sonarr:tag"}
              pullPolicy: IfNotPresent
    service:
      main:
        controller: main
        ports:
          http:
            port: 8989
    persistence:
      data:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 2Gi
        globalMounts:
          - path: /config
      tvshows:
        existingClaim: sonarr-media-pvc
        globalMounts:
          - path: /media
