apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onkaparingait
  namespace: onkaparingait
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        replicas: 1
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/artichoked1/onkaparingait-ssg
              tag: build-37 # {"$imagepolicy": "flux-system:onkaparingait:tag"}
            env:
              TZ: Australia/Adelaide
    service:
      main:
        controller: main
        ports:
          http:
            port: 80
