apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
  namespace: ${NAMESPACE}
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            env:
              TZ: Australia/Adelaide
            image:
              repository: lscr.io/linuxserver/bazarr # {"$imagepolicy": "flux-system:bazarr:name"}
              tag: 1.5.4 # {"$imagepolicy": "flux-system:bazarr:tag"}
              pullPolicy: IfNotPresent
    service:
      main:
        controller: main
        ports:
          http:
            port: 6767
    persistence:
      data:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /config
      tvshows:
        existingClaim: bazarr-media-pvc
        globalMounts:
          - path: /media
