apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-postgres-v2
  namespace: databases
spec:
  imageName: ghcr.io/artichoked1/cnpg-pgvector-vectorchord:17-migration-vectors-0.2.0
  postgresql:
    shared_preload_libraries:
      - "vchord.so"
      - "vectors.so"
  instances: 1
  superuserSecret:
    name: immich-postgres-superuser-auth
  bootstrap:
    # initdb:
    #   database: immich
    #   owner: immich
    #   secret:
    #     name: immich-postgres-auth
    #   postInitSQL:
    #     - CREATE EXTENSION IF NOT EXISTS vchord CASCADE;
    #     # - ALTER SYSTEM SET search_path TO "$user", public, vectors;
    #     # - CREATE EXTENSION IF NOT EXISTS "vectors";
    recovery:
      source: origin
      recoveryTarget:
        targetTime: "2026-03-01 00:00:03+00"
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: r2-backup
  storage:
    size: 1Gi
    storageClass: openebs-hostpath
  externalClusters:
    - name: origin
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: r2-backup
          serverName: immich-postgres
