apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-postgres
  namespace: databases
spec:
  imageName: ghcr.io/tensorchord/cloudnative-pgvecto.rs:17.5
  postgresql:
    shared_preload_libraries:
      - "vectors.so"
  instances: 3
  superuserSecret:
    name: immich-postgres-superuser-auth
  bootstrap:
    initdb:
      database: immich
      owner: immich
      secret:
        name: immich-postgres-auth
      postInitSQL:
        - ALTER SYSTEM SET search_path TO "$user", public, vectors;
        - CREATE EXTENSION IF NOT EXISTS "vectors";

  storage:
    size: 1Gi
    storageClass: local-path
