apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-postgres-auth
  namespace: databases
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: immich-postgres-auth
  data:
    - secretKey: username
      remoteRef:
        key: immich/postgres-auth
        property: username
    - secretKey: password
      remoteRef:
        key: immich/postgres-auth
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-postgres-superuser-auth
  namespace: databases
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: immich-postgres-superuser-auth
  data:
    - secretKey: username
      remoteRef:
        key: immich/postgres-superuser-auth
        property: username
    - secretKey: password
      remoteRef:
        key: immich/postgres-superuser-auth
        property: password
