apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageRepository
metadata:
  name: bazarr
  namespace: flux-system
spec:
  image: lscr.io/linuxserver/bazarr
  interval: 5m
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: bazarr
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: bazarr
  policy:
    semver:
      range: 1.x.x
