apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageRepository
metadata:
  name: jellyseerr
  namespace: flux-system
spec:
  image: fallenbagel/jellyseerr
  interval: 5m
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: jellyseerr
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: jellyseerr
  policy:
    semver:
      range: 2.x.x
