apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageRepository
metadata:
  name: jellyfin
  namespace: flux-system
spec:
  image: jellyfin/jellyfin
  interval: 5m
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: jellyfin
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: jellyfin
  policy:
    semver:
      range: 10.x.x
