apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageRepository
metadata:
  name: qbittorrent
  namespace: flux-system
spec:
  image: lscr.io/linuxserver/qbittorrent
  interval: 5m
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: qbittorrent
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: qbittorrent
  policy:
    semver:
      range: 5.x.x
