---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app openwebui
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  path: ./k8s/coma/apps/ai/openwebui
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: &namespace openwebui
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
        optional: false
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  timeout: 5m
  wait: false
  dependsOn:
    - name: secrets
      namespace: flux-system
