apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ntfy
  namespace: ntfy
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            env:
              TZ: Australia/Adelaide
              NTFY_DEBUG: false
              NTFY_LOG_LEVEL: info
              NTFY_BASE_URL: https://ntfy.artichoke.cc
              NTFY_AUTH_FILE: /var/lib/ntfy/auth.db
              NTFY_AUTH_DEFAULT_ACCESS: deny-all
              NTFY_BEHIND_PROXY: true
            image:
              repository: binwiederhier/ntfy
              tag: v2.17.0
              pullPolicy: IfNotPresent
            args: ["serve"]

    service:
      main:
        controller: main
        ports:
          http:
            port: 80

    persistence:
      config:
        enabled: true
        type: configMap
        name: ntfy-config
        advancedMounts:
          main:
            main:
              - path: /etc/ntfy
                subPath: server.yml
                readOnly: true
      cache:
        size: 1Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /var/cache/ntfy

      data:
        size: 1Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /var/lib/ntfy
