apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
{% if resources %}
resources:
{% for resource in resources %}
  - {{ resource }}
{% endfor %}
{% else %}
resources: []
{% endif %}

# Add additional manifests under ./app and include them above as needed.
