apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}
  namespace: ${NAMESPACE}
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            env:
              TZ: Australia/Adelaide
            # resources:
            # limits:
            #   gpu.intel.com/i915: 1000m
            image:
              repository: jellyfin/jellyfin # {"$imagepolicy": "flux-system:jellyfin:name"}
              tag: 10.11.5 # {"$imagepolicy": "flux-system:jellyfin:tag"}
              pullPolicy: IfNotPresent
    service:
      main:
        controller: main
        ports:
          http:
            port: 8096
    persistence:
      config:
        # storageClass: "longhorn"
        # accessMode: ReadWriteOnce
        # size: 5Gi
        existingClaim: jellyfin-config
        globalMounts:
          - path: /config
      media:
        existingClaim: jellyfin-media-pvc
        globalMounts:
          - path: /media
      cache:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 5Gi
        globalMounts:
          - path: /cache
