apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unmanic
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.2.1
  interval: 1m0s
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            env:
              TZ: Australia/Adelaide
            image:
              repository: josh5/unmanic
              tag: latest
              pullPolicy: IfNotPresent
    service:
      main:
        controller: main
        ports:
          http:
            port: 8888
    persistence:
      config:
        storageClass: "longhorn"
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /config
      media:
        existingClaim: unmanic-media-pvc
        globalMounts:
          - path: /media
      cache:
        existingClaim: unmanic-cache-pvc
        globalMounts:
          - path: /tmp/unmanic