apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: main-postgres
  namespace: databases
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-standard-bookworm
  superuserSecret:
    name: main-postgres-superuser-auth
  storage:
    size: 2Gi
    storageClass: openebs-hostpath
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: r2-backup
  bootstrap:
    recovery:
      source: origin
      recoveryTarget:
        targetTime: "2025-12-08 02:17:47+00"
